name: CI-pipeline

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events for specified branches
  push:
    branches: [ pipeline/* ]
  pull_request:
    branches: [ pipeline/* ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains one job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a set of commands using the runners shell
      - name: Environment setup
        run: |
          make venv

      - name: Sanity-check
        run: |
          source .venv/bin/activate
          python3 train.py

      - name: Clean
        run: |
          make venv-clean